<div ngModelGroup="passwords" class="mt-2">
    <div class="mt-2 mb-4">
        <span class="block text-text text-sm">Password</span>
        <input class="px-2 mb-2 w-full py-1 rounded-md" type="password"
            [ngModel]="vm.user.passwords.password" name="password" />
    </div>
    <div class="mt-2"> <span class="block text-text text-sm">Confirm password</span>
        <input class="px-2 mb-2 w-full py-1 rounded-md" type="password"
            [ngModel]="vm.user.passwords.confirmPassword" name="confirmPassword" />
    </div>
</div>