<div class="user-register-wrapper py-16">
    <ng-container *ngIf="vm() as vm">
        <div class="flex justify-center px-8 py-4 rounded-md w-96 border-solid border-2 border-text border-opacity-25 shadow-xl shadow-accent">
            <form (ngSubmit)="submit()" #form="ngForm" class="w-full" [model]="vm.user" [suite]="validationSuite">
                <div class="mt-2 mb-2 border-opacity-25">
                   <cally-messenger-form-username [vm]="vm"></cally-messenger-form-username>
                </div>

                <div class="mt-2 mb-3">
                    <cally-messenger-form-email [vm]="vm"></cally-messenger-form-email>
                </div>

                <div class="mt-2 mb-4">
                    <cally-messenger-form-birth-date [vm]="vm"></cally-messenger-form-birth-date>
                </div>

                <div class="mt-2">
                    <cally-messenger-form-passwords [vm]="vm">
                        <cally-messenger-password-strength [password]="vm.user.passwords.password"></cally-messenger-password-strength>
                    </cally-messenger-form-passwords>
                </div>
                <button type="submit" class="disabled:text-opacity-40 hover:text-opacity-70 text-text border-2 border-opacity-5 rounded-lg mt-4 px-4 py-1"
                    type="submit">Register</button>
            </form>
           
        </div>
    </ng-container>
</div>
<div class="block text-text">{{formState() | json}}</div>